<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIREC</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
    
</head>
<body>
  <h1>Title</h1>

  <div class="input-container">
    <input type="text" id="codeInput" placeholder="Type here...">
    <button onclick="sendCodeToServer()">send</button>
  </div>

  <p id="output"></p>
</body>
</html>