<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="chat-container">
        <h1>Sign Up</h1>
        <form method="POST">
            <div>
                <label for="firstname-input">

                </label>
                <input type="text" name="username" placeholder="Username" required><br>

            </div>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Register</button>
        </form>   
    </div>
  
</body>
</html>
